.card-boton{
    color: #eff3f5f3;
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer;
    background: #12121255;
}

.color-ferrari{
    @extend .card-boton;
    background: #bf0606d9;
}

.color-mclaren{
    @extend .card-boton;
    background: #f45c04;
}

.color-redbull{
    @extend .card-boton;
    background: #010553;
}

.color-mercedes{
    @extend .card-boton;
    background: #03ebebdf;
}

.color-astonmartin{
    @extend .card-boton;
    background: #1a5702fc;
}

.color-williams{
    @extend .card-boton;
    background: #044abbfe;
}

.color-alpine{
    @extend .card-boton;
    background: #f70539;
}

.color-kick{
    @extend .card-boton;
    background: #21d401;
}

